{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    <div class="container my-5">
        <h1 class="display-4">Welcome to Currency Exchange National Bank</h1>
        
        <p class="fs-5 text-dark my-4">
            At Currency Exchange National Bank, we offer competitive exchange rates and a seamless process for all your foreign currency needs.
            Whether you're traveling abroad, sending money internationally, or managing foreign investments, 
            our currency exchange services are fast, reliable, and secure.
        </p>

        <ul class="offers-list">
            <li class="fs-5 mb-3" >Real-time Exchange Rates: Access up-to-date, transparent exchange rates.</li>
            <li class="fs-5 mb-3">Multiple Currencies: Exchange a wide range of global currencies, both major and minor.</li>
            <li class="fs-5 mb-3">Fast and Convenient: Quick transactions in-branch or online, with secure transfers and minimal waiting times.</li>
            <li class="fs-5 mb-3">No Hidden Fees: Enjoy clear pricing with no unexpected charges.</li>
        </ul>

        <p class="fs-5 text-dark">Start your exchange now and enjoy peace of mind with trusted service from National Bank.</p>

    </div>
{% endblock content %}